@use "./../../../node_modules/bootstrap/scss/bootstrap.scss";
@use "./partials/_variables.scss" as *;
@use "./partials/_navbar.scss" as *;
@use "./app/_header.scss" as *;
@use "./partials/_footer.scss" as *;
@use "./colormode/_lMode.scss" as *;


body {
  background-color: $bg_body;
  color: $light;
  font-family: monospace;
  overflow-x: hidden;
  max-width: 100%;
  padding-top: 50px;

  .jumbotron {
    background: $sky_night;
    color: $light;
    text-align: center;
    border-radius: 10px;

  }
  
}
